# BQ H2 V2S Extruder

[extruder]
max_extrude_only_distance: 1000.0
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 3.5245
nozzle_diameter: 0.4
filament_diameter: 1.75

min_extrude_temp: 15

heater_pin: PA0 # HE0
sensor_pin: PB0 # T0
sensor_type: EPCOS 100K B57560G104F

control: pid
pid_Kp: 16.534
pid_Ki: 0.228
pid_Kd: 100.088

min_temp: 0
max_temp: 270

[tmc2209 extruder]
uart_pin: PG14
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 999999

[firmware_retraction]
retract_length: 0.5
retract_speed: 4
