[include mainsail.cfg]
[include axis.cfg]
[include extruder.cfg]
# [include KlipperScreen.c]

# host MCU service is preinstalled and ready to use with:
[mcu CB1]
serial: /tmp/klipper_host_mcu

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_0B000D000951313339373836-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 1500
max_z_velocity: 15
max_z_accel: 100

[force_move]
enable_force_move: true

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>


[output_pin led]
pin: PC3
value: 1

[gcode_macro LED_ON]
gcode:
  SET_PIN PIN=led VALUE=0

[gcode_macro LED_OFF]
gcode:
  SET_PIN PIN=led VALUE=1


# Fan0
[fan]
pin: PF7

## Fan1
[heater_fan hotend_fan]
pin: PF9
heater: extruder
heater_temp: 50.0
fan_speed: 1.0


[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_fan SoC_fan]
pin: CB1:gpio79
kick_start_time: 0.8
off_below: 0.1
max_power: 1.0
sensor_type: temperature_host
control: pid
min_temp: 25
max_temp: 100
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
min_speed: 0.1
max_speed: 0.8
target_temp: 50


[filament_switch_sensor runout]
switch_pin: !PC15
pause_on_runout: False
runout_gcode:
  {action_respond_info("RUNOUT: Filament runout")}
  PAUSE
insert_gcode:
  {action_respond_info("RUNOUT: Filament inserted")}


[heater_bed]
heater_pin: PF5
sensor_pin: PB1 # TB 
sensor_type: EPCOS 100K B57560G104F
control: watermark
control: pid
# tuned for stock hardware with 50 degree Celsius target
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[virtual_sdcard]
path: ~/printer_data/gcodes
[display_status]
[pause_resume]

[bltouch]
sensor_pin: PD13
control_pin: PD12
z_offset: 2.500
x_offset: -41
y_offset: 0

[bed_screws]
screw1: 30.5, 37
screw2: 30.5, 207
screw3: 204.5, 207
screw4: 204.5, 37


[z_tilt]
z_positions:
    -20, 112
    240, 112
points:
    45, 112
    220, 112
speed: 120
horizontal_move_z: 8

[safe_z_home]
home_xy_position: 100, 100 # Change coordinates to the center of your print bed
speed: 50
z_hop: 10                 # Move up 10mm
z_hop_speed: 5


[exclude_object]

[gcode_macro START_PRINT]
gcode:
  # START_PRINT BED_TEMP=30 EXTRUDER_TEMP=30
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
  M140 S{BED_TEMP}  ; Set bed temperature
  SET_DISPLAY_TEXT MSG="Starting..."
  
  
  G90 ; use absolute coordinates
  G28  ; Home all axes

  M104 S{EXTRUDER_TEMP/2} ; set temporary nozzle temp to prevent oozing during homing
  G4 S10 ; allow partial nozzle warmup
  
  SET_DISPLAY_TEXT MSG="Adjusting Tilt..."
  Z_TILT_ADJUST
  SET_DISPLAY_TEXT MSG="BedMesh Calibration..."
  BED_MESH_CALIBRATE PROFILE=auto METHOD=automatic ADAPTIVE=1  ; Perform bed leveling
  BED_MESH_PROFILE LOAD=auto ; Activate calibrated bed mesh

  SET_DISPLAY_TEXT MSG="Heating. Bed: {BED_TEMP}, Head: {EXTRUDER_TEMP}"
  M83 ; extruder relative mode
  M104 S{EXTRUDER_TEMP}  ; Set extruder temperature

  G1 Z50 F240
  G1 X2 Y10 F3000

  M190 S{BED_TEMP}  ; Wait for bed temperature
  M109 S{EXTRUDER_TEMP}  ; Wait for extruder temperature

  SET_DISPLAY_TEXT MSG="Cleaning noozle..."
  G1 Z0.28 F240
  G92 E0
  G1 Y140 E10 F1500 ; prime the nozzle
  G1 X2.3 F5000
  G92 E0
  G1 Y10 E10 F1200 ; prime the nozzle
  G92 E0
  SET_DISPLAY_TEXT MSG="Printing!"

# See the sample-lcd.cfg file for definitions of common LCD displays.

#[adxl345]
#cs_pin: PA15
#spi_bus: spi3a


## Proximity switch
#[probe]
#pin: PD8

#[output_pin ps_on_pin]
#pin: PD14

#[neopixel my_neopixel_1]
#pin: PD15

#[hall_filament_width_sensor]
#adc1: PC0
#adc2: PF10

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.241220, -0.081220, 0.056280
#*# 	-0.463720, -0.176220, 0.006280
#*# 	-0.378720, -0.031220, 0.216280
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 170.0
#*# min_y = 20.0
#*# max_y = 200.0
#*#
#*# [bed_mesh auto]
#*# version = 1
#*# points =
#*# 	0.207624, 0.215124, 0.132624
#*# 	-0.042376, 0.097624, 0.035124
#*# 	0.035124, 0.180124, 0.185124
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 170.0
#*# min_y = 20.0
#*# max_y = 200.0
